@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --swiper-navigation-color: #fff;
  --swiper-theme-color: #fff;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-active: gray;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #fff !important; 
  opacity: .2
}

@keyframes slideInFromLeft {
  0% {
    transform : translateX(-100%);
  }

  100%{
    transform: translateX(0);
  }
}